@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@400;700&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}
.click {
    transition:all 300ms ease;
    cursor: pointer;
}
.click:hover {
    transform: scale(1.1);
}
.click:active{
    transform: scale(0.8);
}
.img__hover {
    transition: all 300ms ease;
}
.img__hover:hover {
    transform: scale(1.02);
}
/*
NAVIGATION
*/
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 80px;
    align-items: center;
}
.nav__link--list {
    display: flex;
}
li {
    list-style-type: none;
}
.nav__link {
    margin: 0 12px;
}
.nav__link--anchor {
    text-decoration: none;
    font-size: 18px;
    color: #242424;
}

/*
PORTFOLIO
*/

.container {
    width: 100%;
}
.item__list {
    padding-top: 32px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 24px;
}
.item:nth-child(2){
flex-direction: row-reverse;
}
.item__imgs {
    width: 100%;
    max-width: 1096px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.item__img {
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 24px;
}
.item__title {
    padding: 16px;
}
.item__description {
    padding: 16px;
    font-family: 'Open Sans', sans-serif;
}
.description__container{
    width: 50%;
    border-radius: 20px;
}
.item__side {
    padding: 8px;
}

/*
RESPONSIVENESS
*/
@media (max-width: 1142px) {
 .item__list {
    max-width: 800px;
 }
 .item__imgs {
    height:fit-content;
 }
 .item__img {
    padding: 4px;
 }
 .item {
    flex-direction: column;
    flex-wrap: wrap;
 }
 .description__container {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
 }
 .name__logo {
    padding-left: 16px;
 }
}

@media (max-width: 768px) {
    .name__logo {
        padding-left: 8px;
     }
}